<?xml version="1.0"?>

<!-- Keep everything lowercase -->

<config>
	<password status="disabled" password="password"></password> <!-- alternative status "disabled" -->
	<port>12345</port>
	<logfilepath></logfilepath>
	<admins>
	</admins>
	<accesslist type="blacklist"> <!-- alternative type "whitelist" -->
	</accesslist>
</config>